@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

* {
    border-color: inherit;
}
video {
    outline: 4px solid white;
    outline-offset: -4px;
}
#scrolly-text {
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
}

@media (min-width: 600px) {
.black-scrolly-btn:hover {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.blue-scrolly-btn:hover {
    color: #3B8BEB;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3B8BEB;
}
.green-scrolly-btn:hover {
    color: #5CD595;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #5CD595;
}
}