@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

* {
    border-color: inherit;
}
video {
    outline: 4px solid white;
    outline-offset: -4px;
}
#scrolly-text {
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
}

.header-border {
    height: 5px;
    background: yellow;
    width: 100vw;
    z-index: 2;
    background: repeating-linear-gradient(10deg, rgb(244, 234, 208) 0%, #ffffff, rgb(244, 234, 208));
    background-size: 200% 200%;
    animation: slide 4s linear infinite;
}

.header-red {
    background: repeating-linear-gradient(10deg, rgb(244, 234, 208), #EF5C5C, rgb(244, 234, 208));
    background-size: 200% 200%;
}
.header-blue {
    background: repeating-linear-gradient(10deg, rgb(244, 234, 208), #3B8BEB, rgb(244, 234, 208));
    background-size: 200% 200%;
}
.header-green {
    background: repeating-linear-gradient(10deg, rgb(244, 234, 208), #5CD595, rgb(244, 234, 208));
    background-size: 200% 200%;
}

.link-button:hover img {
    filter: brightness(0) invert(1);
}
@keyframes slide {
    0% {
        background-position: 0% -0%;
    }

    100% {
        background-position: -200% 0%;
    }
}
@media (min-width: 500px) {
.black-scrolly-btn:hover {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.blue-scrolly-btn:hover {
    color: #3B8BEB;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3B8BEB;
}
.green-scrolly-btn:hover {
    color: #5CD595;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #5CD595;
}
.red-scrolly-btn:hover {
    color: #EF5C5C;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #EF5C5C;
}
}